$development-container-h: 80vh;
$development-container-m-h: 140vh;
$development-container-ml-h: 130vh;
$development-container-w:100%;

$development-header-top:10vh;
$development-header-m-top: 5vh;
$development-header-height: 15%;
$development-header-font-w: 300;

$development-title-font-s: calc(20px + 1.2vw);

$development-subtitle-font-s: calc(14px + .3vw); 

$development-items-mt: 20vh;
$development-items-ml-mt: 30vh;
$development-items-m-mt: 10vh;
$development-items-h: 60%;
$developmnt-items-m-h: 80%;
$development-items-ml-h: 80%;
$development-items-w: 90%;

$development-item-h: 100%;
$development-item-flex:1;

$development-item-img-wrap-h: 50%;
$development-items-img-wrap-ml-h: 40%;

$development-computer-icon-h: 80%;
$development-computer-icon-w: 60%;
$development-computer-icon-ml-h: 70%;
$development-computer-icon-ml-w: 60%;


$development-phone-icon-h: 100%;
$development-phone-icon-w: 60%;
$development-phone-icon-ml-h: 70%;
$development-phone-icon-ml-w: 60%;

$development-laptop-icon-h: 130%;
$development-laptop-icon-w: 75%;
$development-laptop-icon-ml-h: 110%;
$development-laptop-icon-ml-w: 80%;

$development-item-text-wrap-h: 40%;
$development-item-text-wrap-m-h: 50%;
$development-item-text-wrap-ml-h: 35%;

$development-item-title-h: 30%;
$development-item-title-font-s: calc(14px + 0.8vw);
$development-item-font-w: 300;

$development-item-desc-h: auto;
$development-item-desc-font-s: calc(12px + .1vw);
$development-item-desc-font-w: 300;
$development-item-desc-ml-w:130%;
$development-item-desc-ml-ml:-15%;