$development-container-h: 80vh;
$development-container-m-h: 140vh;
$development-container-ml-h: 130vh;
$development-container-w:100%;

$development-header-top:10vh;
$development-header-m-top: 5vh;
$development-header-height: 15%;
$development-header-font-w: 300;

$development-title-font-s: calc(20px + 1.2vw);

$development-subtitle-font-s: calc(14px + .3vw); 

$development-items-mt: 20vh;
$development-items-ml-mt: 30vh;
$development-items-m-mt: 10vh;
$development-items-h: 60%;
$developmnt-items-m-h: 80%;
$development-items-ml-h: 80%;
$development-items-w: 90%;

$development-item-h: 100%;
$development-item-flex:1;

$development-item-img-wrap-h: 50%;
$development-items-img-wrap-ml-h: 40%;

$development-computer-icon-h: 80%;
$development-computer-icon-w: 60%;
$development-computer-icon-ml-h: 70%;
$development-computer-icon-ml-w: 60%;


$development-phone-icon-h: 100%;
$development-phone-icon-w: 60%;
$development-phone-icon-ml-h: 70%;
$development-phone-icon-ml-w: 60%;

$development-laptop-icon-h: 130%;
$development-laptop-icon-w: 75%;
$development-laptop-icon-ml-h: 110%;
$development-laptop-icon-ml-w: 80%;

$development-item-text-wrap-h: 40%;
$development-item-text-wrap-m-h: 50%;
$development-item-text-wrap-ml-h: 35%;

$development-item-title-h: 30%;
$development-item-title-font-s: calc(14px + 0.8vw);
$development-item-font-w: 300;

$development-item-desc-h: 40%;
$development-item-desc-font-s: calc(12px + .1vw);
$development-item-desc-font-w: 300;
$development-item-desc-ml-w:130%;
$development-item-desc-ml-ml:-15%;

/* = = = = = =  = = = = DESIGN = = = = = = = = = = */

$design-container-h: 80vh;
$design-container-m-h:110vh;
$design-container-w: 100%;
$design-container-bg-color: #4EB2CF;

$design-header-top: 10vh;
$design-header-m-top:5vh;
$design-header-h: 15%;

$design-title-color:white;
$design-title-font-w: 300;
$design-title-font-s: calc(20px + 1.2vw);

$design-subtitle-color:white;
$design-subtitle-font-w:300;
$design-subtitle-font-s:calc(14px + .3vw); 

$design-items-mt: 10vh;
$design-items-ml-mt: 20vh;
$design-items-w:100%;
$design-items-h: 50%;
$design-items-m-h: 70%;

$design-item-icon-h: 80px;
$design-item-icon-w: 80px;
$design-item-icon-ml-h: 70px;
$design-item-icon-ml-w: 70px;
$design-item-bg-color: white;
$design-item-bg-radius: 40px;

$design-icon-font-s: 30px;
$design-icon-font-ml-s: 25x;
$design-icon-color: #4EB2CF;

$design-item-text-mt:5vh;
$design-item-text-m-mt: 2vh;
$design-item-text-color:white;
$design-item-text-font-s:calc(12px + 0.5vw);
$design-item-text-font-w: 300;

/* = = = = = =  = = = = CONSULTANCY = = = = = = = = = = */

$consultancy-container-h: 80vh;
$consultancy-conainer-m-h: 100vh;
$consultancy-container-w: 100%;

$consultancy-header-top: 10vh;
$consultancy-header--m-top: 5vh;
$consultancy-height:15%;

$consultancy-title-font-w: 300;
$consultancy-title-font-family: 'Lato',sans-serif;
$consultancy-title-font-s: calc(20px + 1.2vw);

$consultancy-subtitle-font-w:300;
$consultancy-subtitle-font-family:'Lato',sans-serif;
$consultancy-subtitle-font-s: calc(14px + 0.3vw);

$consultancy-items-mt: 10vh;
$consultancy-items-m-mt: 20vh; 
$consultancy-items-w: 80%;
$consultancy-items-mw: 95%;
$consultancy-items-h: 50%;
$consultancy-items-m-h: 65%;

$consultancy-img-wrap-h: 80%;
$consultancy-img-wrap-h:25%;

$consultancy-img-h: 200px;
$consultancy-img-w: 180px;

$consultancy-text-wrap-h: 80%;
$consultancy-text-wrap-m-h: 100%;
$consultancy-text-wrap-m-mt: 5vh;

$consultancy-text-wrap-div-font-size: calc(12px+0.5vw);
$consultancy-text-wrap-div-font-w: 300;
$consultancy-text-wrap-div-font-family: 'Lato',sans-serif;


