@import '../variables';
@import './variables';

.consultancy-container{
  height: $consultancy-container-h;
  width: $consultancy-container-w;
}

.consultancy-header{
  top: $consultancy-header-top;
  height: $consultancy-header-h;
}

.consultancy-title{
  font-weight: $consultancy-title-font-w;
  font-family: $consultancy-title-font-family;
  font-size: $consultancy-title-font-s;
}

.consultancy-subtitle{
  font-weight: $consultancy-subtitle-font-w;
  font-family: $consultancy-subtitle-font-family;
  font-size: $consultancy-subtitle-font-s;
}

.consultancy-items{
  margin-top:$consultancy-items-mt;
  width: $consultancy-items-w;
  height: $consultancy-items-h;
}

.consultancy-img-wrap{
  height: $consultancy-img-wrap-h;
  flex:1;
}

.consultancy-img{
  height: $consultancy-img-h;
  width: $consultancy-img-w;
}

.consultancy-text-wrap{
  justify-content: space-evenly;
  height: $consultancy-text-wrap-h;
  flex:3;
}
.consultancy-text-wrap div{
  font-size: $consultancy-text-wrap-div-font-size;
  font-family:$consultancy-text-wrap-div-font-family;
  font-weight:$consultancy-text-wrap-div-font-w;
}

@media screen and (max-width: 850px){
  .consultancy-container{
    height: $consultancy-container-m-h;
  }
  .consultancy-header{
    top:$consultancy-header-m-top;
  }
  .consultancy-items{
    width: $consultancy-items-m-w;
    margin-top:$consultancy-items-m-mt;
    flex-direction:column !important;
    height: $consultancy-items-m-h;
  }
  .consultancy-img-wrap{
    height: $consultancy-img-wrap-m-h;
  }
  .consultancy-text-wrap{
    height:$consultancy-text-wrap-m-h;
    margin-top:$consultancy-text-wrap-m-mt;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape){
  .consultancy-container{
    height: $consultancy-container-ml-h;
  }
  .consultancy-header{
    top:$consultancy-header-top;
  }
  .consultancy-items{
    margin-top: 40vh;
  }
}