.consultancy-container{
  height:80vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.consultancy-heading{
  height:15%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.consultancy-title{
  font-family: 'Lato',sans-serif;
  font-size:calc(20px + 2.2vw);
  color:black;
  font-weight:300;
}

.consultancy-subtitle{
  font-family: 'Lato',sans-serif;
  font-size:calc(12px + 0.5vw);
  color:black;
  font-weight:300;
}

.consultancy-items{
  margin-top:5vh;
  height:45%;
  width:90%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
 
}

.consultancy-img-wrap{
  width:30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.consultancy-img{
  height: 350px;
  width: 300px;
}

.consultancy-text-wrap{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.consultancy-text-p1{
  width: 100%;
  font-family: 'Lato',sans-serif;
  display: flex;
  font-size:calc(12px + 0.6vw);
  font-weight:300;
} 

.consultancy-text-p2{
  width: 100%;
  font-family: 'Lato',sans-serif;
  display: flex;
  font-size:calc(12px + 0.6vw);
  font-weight:300;
}


@media(max-width:900px){
  .consultancy-container{
    height:110vh;
    align-items: center;
    justify-content: center;
  }
  .consultancy-heading{
    height:10%;
    width: 90%;
  }
  .consultancy-items{
    height: 70%;

    justify-self: flex-end;
    flex-direction: column;
    flex-direction: column;
   
  }
  .consultancy-img-wrap{
    height:30%;
    width: 100%;
  }
  .consultancy-img{
    height: 250px;
    width: 200px;
  }
  .consultancy-text-wrap{
    height: 70%;
    width: 100%;
   
  }
  .consultancy-text-wrap div{
    width: 85%;
    text-align: center;
  }
}


@media only screen and (max-device-width: 900px) and (orientation: landscape){
  .consultancy-container{
    height:120vh;
    justify-content: center;
  }
  .consultancy-heading{
    margin-top:15vh;
  }
  .consultancy-items{
    height: 65%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .consultancy-img-wrap{
    flex:1;
  }
  .consultancy-text-wrap{
    flex:4;
    justify-content: space-between;
  }
  .consultancy-text-wrap div{
    width: 100%;
    text-align: start;
  }
}