@import '../_variables.scss';
@import './variables';

.design-container{
  height: $design-container-h;
  width: $design-container-w;
  background-color: $design-container-bg-color;
  margin-top: $header-h;
}

.design-header{
  top:$design-header-top;
  height: $design-header-h;
}

.design-title{
  color:$design-title-color;
  font-weight: $design-title-font-w;
  font-family:'Lato',sans-serif;
  font-size: $design-title-font-s;
}

.design-subtitle{
  color:$design-subtitle-color;
  font-weight: $design-subtitle-font-w;
  font-family:'Lato',sans-serif;
  font-size:$design-subtitle-font-s;
}

.design-items{
  margin-top:$design-items-mt;
  width: $design-items-w;
  flex-wrap: wrap;
  height:$design-items-h;
}

.design-item{
  height: auto;
  flex:1;
}

.design-item-icon{
  height: $design-item-icon-h;
  width: $design-item-icon-w;
  background-color: $design-item-bg-color;
  border-radius: $design-item-bg-radius;
}

.design-icon{
  font-size:$design-icon-font-s;
  color:$design-icon-color;
}

.design-item-text{
  margin-top:$design-item-text-mt;
  height: auto;
  font-family: 'Lato',sans-serif;
  color:$design-item-text-color;
  font-size:$design-item-text-font-s;
  font-weight:$design-item-text-font-w;
}

@media screen and (max-width: 850px){
  .design-container{
    height:$design-container-m-h;
  }
  .design-header{
    top:$design-header-m-top;
  }
  .design-items{
    height: $design-items-m-h;
  }
  .design-item-text{
    margin-top:$design-item-text-m-mt;
  }
  .design-item-icon{
    height: 70px;
    width:70px;
  }
  .design-icon{
    font-size:25px;
  }
}

@media screen and (max-width: 850px) and (orientation:landscape){
  .design-header{
    top:$design-header-top;
  }
  .design-items{
    margin-top:$design-items-ml-mt;
  }
  .design-item-icon{
    height:$design-item-icon-ml-h;
    width: $design-item-icon-ml-w;
  }
  .design-icon{
    font-size: $design-icon-font-ml-s;
  }
}