@import '../_variables.scss';

.contact-container{
  font-weight:300;
  height: 90vh;
  width: 100%;
  margin-top:$header-h;
}

.contact-header{
  top:20vh;
  height:15%;
}

.contact-title{
  font-weight:300;
  font-family: 'Lato',sans-serif;
  font-size: calc(20px + 1.2vw);
}

.contact-subtitle{
  font-weight:300;
  font-family: 'Lato',sans-serif;
  font-size: calc(14px + .3vw);
}

.contact-items{
  width: 100%;
  height: 20%;
  font-weight:300;
}

.contact-item{
  font-weight:300;
  flex:1;
  height: 100%;
}

.contact-img{
  font-size: calc(30px + 2vw);
  color: #4EB2CF;
}

.contact-text-wrap{
  font-weight:300;
  font-family: 'Lato',sans-serif;
  color:black;
  font-size: calc(14px + 0.5vw);
}

@media screen and (max-width:850px){
  .contact-container{
    height: 80vh;
  }
  .contact-header{
    top:10vh;
  }
  .contact-items{
    margin-top:5vh;
    flex-direction:column !important;
    height: 70%;
  }

  .contact-item{
    justify-content: center !important;
  }
  .contact-text-wrap{
    margin-top:2vh;
  }
}


@media screen and (max-width:850px) and (orientation:landscape){
  .contact-container{
    height: 90vh;
    margin-top:20vh;
  }
  .contact-header{
    top:30vh;
  }
  .contact-items{
    height:auto;
    margin-top:20vh;
    flex-direction: row !important;
  }
  .contact-text-wrap{
    font-size: calc(14px + 0.2vw);
  }
}