@import './_variables.scss';


.hero{
    background-color: $hero-bg-c;
    height: $hero-h;
    width: $hero-w;
}

.hero-title-container{
    height:$hero-title-container-h;
}

.hero-title{
    color:$hero-font-color;
    font-size:calc(14px + 4vw);
    font-weight:$hero-light-font-w;
    letter-spacing: $hero-title-letter-spacing;
}

.hero-title-heavy{
    font-weight:$hero-heavy-font-w;
}

.hero-subtitle-container{
    $hero-subtitle-container-h:10%;
}

.hero-subtitle{
    color:$hero-font-color;
    font-size:calc(14px + 1vw);
    font-weight:$hero-light-font-w;
}


@media(max-width:800px){
    .hero{
        height: $hero-mh;
    }
    .hero-title-container{
        height:$hero-title-container-mh;
    }

    .hero-subtitle-container{
        height:$hero-subtitle-container-mh;
    }
}

