.our-skills-container{
    height: 90vh;
    background-color: #E7E5D8;
    justify-content: center;
}

.our-skills-header{

    height:15%;
    font-family:'Lato',sans-serif;
    font-size:calc(20px + 2vw);  
    font-weight:300;
}

.our-skills-icon-container{

    height:45%;
    flex-direction: row;
}

.our-skills-icon{
    height:100%;
    flex:1;
    flex-direction: column;
}

.our-skills-icon-header{
    font-family: 'Lato',sans-serif;
    font-size:20px;
    font-weight: 400;
    margin-top:2vh;
}

.our-skills-icon-img{
    height:80px;
    background-color: #1B1D20;
    width:80px;
    border-radius: 100px;
}

.our-skills-icon-desc{
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-size:calc(10px + 0.5vw);  
    font-weight:300;
    margin-top:1vh;
}

.ours-skills-btn-container{
    height:15%;
}

.icon{
    color:white;
}

.our-skills-btn{
    height:60px;
    width: 300px;
    background-color: #1B1D20;
    font-family: 'Lato',sans-serif;
    font-size:calc(9px + 1vw);  
    color:white;
}

@media(max-width:800px){

    .our-skills-container{
      justify-content: space-between;
      height:135vh;
    }
    .our-skills-icon-container{
      flex-direction: column;
      margin-top:-6vh;
      height:100vh;
    }
    .our-skills-icon{
        margin-top:5vh;
    }
    .our-skills-icon-desc{
        width:80%;
    }
    .our-skills-btn{
        width:850px;
    }
}