@import './variables';

.our-skills-container{
    min-height:90vh;
    height: $our-skills-container-h;
    background-color: $our-skills-container-bg-c;
    justify-content: space-around;
}

.our-skills-header{
    height:$our-skills-header-h;
    font-weight:$our-skills-font-w;
    font-family:'Lato',sans-serif;
    font-size:calc(20px + 2vw);  
}

.our-skills-icon-container{
    width: 95%;
    height:$our-skills-icon-container-h;
    flex-direction: row;
}

.our-skills-icon{
    height: $our-skills-icon-h;
    flex:1;
    flex-direction: column;
}

.our-skills-icon-header{
    font-family: 'Lato',sans-serif;
    font-size:$our-skills-icon-header-font-size;
    font-weight: $our-skills-icon-header-font-w;
    margin-top:$our-skills-icon-header-mt;
}

.our-skills-icon-img{
    height:$our-skills-icon-img-h;
    width:$our-skills-icon-img-w;
    border-radius: $our-skills-icon-img-border-r;
    background-color: $our-skills-icon-img-bg-c;
}

.our-skills-icon-text-wrap{
    height: auto;
}

.our-skills-icon-desc{
    padding:0;
    height: auto;
    width: 100%;
    font-family: 'Lato',sans-serif;
    font-size:calc(12px + 0.5vw);  
    font-weight:$our-skills-icon-desc-font-w;
    margin-top:$our-skills-icon-desc-mt;
}

.ours-skills-btn-container{
    height:15%;
}

.icon{
    color:white;
}

.our-skills-btn{
    height:$our-skills-btn-h;
    width: $our-skills-btn-w;
    background-color: $our-skills-btn-bg-c;
    color:$our-skills-btn-color;
    font-family: 'Lato',sans-serif;
    font-size:calc(9px + 1vw);  
}

@media(max-width:800px){

    .our-skills-container{
      justify-content: space-between;
      height:$our-skills-container-mh;
      overflow-x:hidden;
    }
    .our-skills-icon-container{
      flex-direction: column;
      margin-top:$our-skills-icon-container-m-mt;
      height:$our-skills-icon-container-mh;
    }
    .our-skills-icon{
        margin-top:$our-skills-icon-m-mt;
    }
    .our-skills-icon-desc{
        width:$our-skills-icon-desc-mw;
    }
    .our-skills-btn{
        width:$our-skills-btn-mw;
    }
}

@media(max-width: 650px){
    .our-skills-icon-desc{
        width: 60vw;
    }
    .our-skills-btn{
        width: 60vw;
    }
}

@media only screen and (max-device-width: 850px) and (orientation: landscape){
    .our-skills-container{
        height: 170vh;
    }
}
