@import './_variables.scss';

/* = = = = = = = = = = = = = = = STUDENT DEVS = = = = = = = = = = = = = */

.stdev{
    height: $stdev-h;
    width: $stdev-w;
}

.stdev-container{
    flex-direction: $stdev-container-flex-d;
}

.stdev-img-container{
    height:$stdev-img-container-h;
    width:$stdev-img-container-w;
}

.stdev-alert{
    font-size:calc(10px + 1vw);
    font-weight: $stdev-alert-font-w;
    font-family:'Lato',sans-serif;
    margin-top: $stdev-alert-mt;
}

.std-alert-quote{
    color: $stdev-alert-color;
}

.stdev-img{
    height:$stdev-img-h;
    width:$stdev-img-w;
    margin-top:$stdev-img-mt;
    transform: rotate(-12deg);
}

.stdev-text-container{  
    height:$stdev-text-container-h;
    width:$stdev-text-container-w;
}

.stdev-text-container{
    height:80%;
}

.stdev-text-subcontainer{
    height:$stdev-text-subcontainer-h;
    margin-top:$stdev-text-subcontainer-mt;
}

.std-text-header{
    width:$std-text-header-w;
    font-weight: $std-text-header-font-w;
    flex:1;
    font-family:'Lato',sans-serif;
    font-size:calc(15px + 2vw);
}

.std-text{
    width:$std-text-w;
    line-height:$std-text-line-h;
    font-family: 'Lato', sans-serif;
    font-size:calc(6px + 1vw);
    font-weight:$std-text-font-w;
    margin-top: $std-text-mt;
    flex:1;
}

.std-text-p1{
    flex:2;
}

.std-text-p2{
    flex:1;
}

@media(max-width:800px){
    .stdev{
        height:$stdev-mh;
       
    }
    .stdev-flex-control{
        flex-direction: column;
    }
    .stdev-img{
        height:$stdev-img-mh;
        width: $stdev-img-mw;
        margin-top:$stdev-img-m-mt;
    }
    .stdev-alert{
        margin-top:$stdev-alert-m-mt;
    }
    .stdev-img-container{
        height:$stdev-img-container-mh;
        width: $stdev-img-container-mw;
        justify-content: space-around;
        margin-left:$stdev-img-container-m-ml;
    }
    .stdev-text-container{ 
        height:$stdev-text-container-mh;
        width:$stdev-text-containr-mw; 
        margin-top:$stdev-text-container-m-mt;
        margin-left:$stdev-text-container-m-ml;
    }
    .std-text{
        font-size:calc(10px + 1vw);  
        margin-top:$std-text-m-mt;
    }
    .std-text-header{
        margin-left:$std-text-header-m-ml;
        align-items: center;
        justify-content: center;
    } 
}

@media only screen and (max-device-width: 850px) and (orientation: landscape){
    .stdev{
        height: $stdev-m-land-h;
    }
    .stdev-alert{
        margin-top:$stdev-alert-m-land-mt;
    }
    .stdev-img{
        margin-top:$stdev-img-m-land-mt;
    }
}
