$header-h: 10vh;
$header-bg-c: #29b2cf;
$header-font-family: 'Lato',sans-serif;

$home-hero-font-color: white;
$home-hero-light-font-w: 200;
$home-hero-heavy-font-w: 400;

$footer-bg-c: #3B8CA8;

$our-skills-bg-c:#E7E5D8;