    
@import './_mixins.scss';
@import './_variables.scss';




/* = = = = = = = = = = = = = = = HEADER = = = = = = = = = = = = = */

.header-container{
    height:$header-h;
    background-color: $header-bg-c;
    z-index:1;
}

.header{
    height:$header-h;
    background-color: $header-bg-c;
}

.header-logo{
    font-size: 25px;
    letter-spacing: 0.05em;
}

.header-link{
    font-family: 'Lato', sans-serif;
}

.brain-img{
    height:50px;
    width:50px;
}

/* = = = = = = = = = = = = = = = HOME HERO = = = = = = = = = = = = = */

.home-hero{
    background-color: $header-bg-c;
}

.home-hero-title-container{
    height:15%;
}

.home-hero-title{
    color:white;
    font-size:calc(14px + 4vw);
    font-weight:200
}

.home-hero-subtitle-container{
    height:10%;
}

.home-hero-subtitle{
    color:white;
    font-size:calc(14px + 1vw);
    font-weight:300;
}

.home-hero-title-heavy{
    font-weight:400;
}

@media(max-width:800px){
    .home-hero-title-container{
        height:12%;
    }

    .home-hero-subtitle-container{
        height:5%;
    }
}