    
@import './_mixins.scss';
@import './_variables.scss';

.header-container{
    height:$header-h;
    background-color: $header-bg-c;
}

.header{
    height:$header-h;
    background-color: $header-bg-c;
}

.brain-img{
    height:50px;
    width:40px;
}

.home-hero{
    background-color: $header-bg-c;
}