/* = = = = = = = = = = = = = = = HEADER = = = = = = = = = = = = = */
.header-container {
  height: 10vh;
  background-color: #29b2cf;
  z-index: 2;
  opacity: 0.9;
}

.header {
  height: 10vh;
  background-color: #29b2cf;
}

.header-logo {
  font-size: 25px;
  letter-spacing: 0.05em;
}

.header-link {
  font-family: 'Lato', sans-serif;
}

.brain-img {
  height: 50px;
  width: 50px;
}

.hero {
  background-color: #29b2cf;
  height: 90vh;
  width: 100vw;
}

.hero-title-container {
  height: 15%;
}

.hero-title {
  color: white;
  font-size: calc(14px + 4vw);
  font-weight: 200;
  letter-spacing: 0.01em;
}

.hero-title-heavy {
  font-weight: 400;
}

.hero-subtitle-container {
  height: 10%;
}

.hero-subtitle {
  color: white;
  font-size: calc(14px + 1vw);
  font-weight: 200;
}

@media (max-width: 800px) {
  .hero-title-container {
    height: 12%;
  }
  .hero-subtitle-container {
    height: 5%;
  }
}

/* = = = = = = = = = = = = = = = STUDENT DEVS = = = = = = = = = = = = = */
.stdev {
  height: 95vh;
  width: 100vw;
}

.stdev-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.stdev-img-container {
  height: 100%;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stdev-alert {
  font-size: calc(10px + 1vw);
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  margin-top: -12vh;
}

.std-alert-quote {
  color: #6EE5FB;
}

.stdev-img {
  height: 400px;
  width: 380px;
  margin-top: -5vh;
}

.stdev-text-container {
  height: 100%;
  width: 50%;
}

.stdev-text-container {
  height: 80%;
}

.stdev-text-subcontainer {
  height: 80%;
}

.std-text-header {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Lato',sans-serif;
  font-size: calc(15px + 2vw);
  width: 85%;
  font-weight: 300;
}

.std-text {
  width: 85%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.5em;
  font-family: 'Lato', sans-serif;
  font-size: calc(6px + 1vw);
  font-weight: 300;
}

.std-text-p1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.std-text-p2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 800px) {
  .stdev {
    height: 130vh;
  }
  .stdev-flex-control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stdev-img {
    margin-top: -7vh;
  }
  .stdev-alert {
    margin-top: -4vh;
  }
  .stdev-img-container {
    width: 100vw;
    height: 60vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .stdev-text-container {
    width: 100vw;
    height: 60vh;
    margin-top: -8vh;
  }
  .std-text {
    font-size: calc(10px + 1vw);
  }
}

.our-skills-container {
  height: 90vh;
  background-color: #E7E5D8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-skills-header {
  height: 15%;
  font-family: 'Lato',sans-serif;
  font-size: calc(20px + 2vw);
  font-weight: 300;
}

.our-skills-icon-container {
  height: 45%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.our-skills-icon {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-skills-icon-header {
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 2vh;
}

.our-skills-icon-img {
  height: 80px;
  background-color: #1B1D20;
  width: 80px;
  border-radius: 100px;
}

.our-skills-icon-desc {
  text-align: center;
  font-family: 'Lato',sans-serif;
  font-size: calc(10px + 0.5vw);
  font-weight: 300;
  margin-top: 1vh;
}

.ours-skills-btn-container {
  height: 15%;
}

.icon {
  color: white;
}

.our-skills-btn {
  height: 60px;
  width: 280px;
  background-color: #1B1D20;
  font-family: 'Lato',sans-serif;
  font-size: calc(12px + 1vw);
  color: white;
}

@media (max-width: 800px) {
  .our-skills-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 135vh;
  }
  .our-skills-icon-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -6vh;
    height: 100vh;
  }
  .our-skills-icon {
    margin-top: 5vh;
  }
  .our-skills-icon-desc {
    width: 80%;
  }
}
/*# sourceMappingURL=stylesheet.css.map */