/* = = = = = = = = = = = = = = = HEADER = = = = = = = = = = = = = */
.header-container {
  height: 10vh;
  background-color: #29b2cf;
  z-index: 2;
  opacity: 0.9;
  width: 100vw;
}

.header {
  height: 10vh;
  background-color: #29b2cf;
  width: 90vw;
}

.header-logo {
  font-size: 25px;
  letter-spacing: 0.05em;
}

.header-link {
  font-family: 'Lato', sans-serif;
}

.brain-img {
  height: 50px;
  width: 50px;
}

@media only screen and (max-device-width: 850px) and (orientation: landscape) {
  .header-container {
    height: 20vh;
  }
}

/* ================== HERO ================= */
/* ================== STUDENT DEV ================= */
/* ================== OUR SKILLS ================= */
.hero {
  background-color: #29b2cf;
  height: 90vh;
  width: 100vw;
}

.hero-title-container {
  height: 15%;
}

.hero-title {
  color: white;
  font-size: calc(14px + 4vw);
  font-weight: 200;
  letter-spacing: 0.01em;
}

.hero-title-heavy {
  font-weight: 400;
}

.hero-subtitle {
  color: white;
  font-size: calc(14px + 1vw);
  font-weight: 200;
}

@media (max-width: 800px) {
  .hero {
    height: 80vh;
  }
  .hero-title-container {
    height: 12%;
  }
  .hero-subtitle-container {
    height: 5%;
  }
}

/* ================== HERO ================= */
/* ================== STUDENT DEV ================= */
/* ================== OUR SKILLS ================= */
/* = = = = = = = = = = = = = = = STUDENT DEVS = = = = = = = = = = = = = */
.stdev {
  height: 95vh;
  width: 100vw;
}

.stdev-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.stdev-img-container {
  height: 100%;
  width: 50%;
}

.stdev-alert {
  font-size: calc(10px + 1vw);
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  margin-top: -12vh;
}

.std-alert-quote {
  color: #6EE5FB;
}

.stdev-img {
  height: 400px;
  width: 380px;
  margin-top: -6vh;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.stdev-text-container {
  height: 100%;
  width: 50%;
}

.stdev-text-container {
  height: 80%;
}

.stdev-text-subcontainer {
  height: 80%;
  margin-top: 2vh;
}

.std-text-header {
  width: 85%;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Lato',sans-serif;
  font-size: calc(15px + 2vw);
}

.std-text {
  width: 85%;
  line-height: 1.5em;
  font-family: 'Lato', sans-serif;
  font-size: calc(6px + 1vw);
  font-weight: 300;
  margin-top: 2vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.std-text-p1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.std-text-p2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 800px) {
  .stdev {
    height: 130vh;
  }
  .stdev-flex-control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stdev-img {
    height: 350px;
    width: 300px;
    margin-top: -12vh;
  }
  .stdev-alert {
    margin-top: -4vh;
  }
  .stdev-img-container {
    height: 60vh;
    width: 80vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 2vw;
  }
  .stdev-text-container {
    height: 60vh;
    width: 100vw;
    margin-top: -8vh;
    margin-left: -6vw;
  }
  .std-text {
    font-size: calc(10px + 1vw);
    margin-top: 5vh;
  }
  .std-text-header {
    margin-left: -3vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-device-width: 850px) and (orientation: landscape) {
  .stdev {
    height: 160vh;
  }
  .stdev-alert {
    margin-top: -15vh;
  }
  .stdev-img {
    margin-top: -25vh;
  }
}

/* ================== HERO ================= */
/* ================== STUDENT DEV ================= */
/* ================== OUR SKILLS ================= */
.our-skills-container {
  min-height: 90vh;
  height: 90vh;
  background-color: #E7E5D8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-skills-header {
  height: 15%;
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: calc(20px + 2vw);
}

.our-skills-icon-container {
  height: 45%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.our-skills-icon {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-skills-icon-header {
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 2vh;
}

.our-skills-icon-img {
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color: #1B1D20;
}

.our-skills-icon-desc {
  font-family: 'Lato',sans-serif;
  font-size: calc(12px + 0.5vw);
  font-weight: 300;
  margin-top: 1vh;
}

.ours-skills-btn-container {
  height: 15%;
}

.icon {
  color: white;
}

.our-skills-btn {
  height: 60px;
  width: 600px;
  background-color: #1B1D20;
  color: white;
  font-family: 'Lato',sans-serif;
  font-size: calc(9px + 1vw);
}

@media (max-width: 800px) {
  .our-skills-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 135vh;
    overflow-x: hidden;
  }
  .our-skills-icon-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -6vh;
    height: 100vh;
  }
  .our-skills-icon {
    margin-top: 5vh;
  }
  .our-skills-icon-desc {
    width: 80%;
  }
  .our-skills-btn {
    width: 50vw;
  }
}

@media (max-width: 650px) {
  .our-skills-icon-desc {
    width: 60vw;
  }
  .our-skills-btn {
    width: 60vw;
  }
}

@media only screen and (max-device-width: 850px) and (orientation: landscape) {
  .our-skills-container {
    height: 170vh;
  }
}

/* = = = = = =  = = = = DESIGN = = = = = = = = = = */
/* = = = = = =  = = = = CONSULTANCY = = = = = = = = = = */
.development-container {
  height: 80vh;
  width: 100%;
  margin-top: 10vh;
}

.development-header {
  top: 10vh;
  height: 15%;
  font-weight: 300;
  font-family: 'Lato',sans-serif;
}

.development-title {
  font-size: calc(20px + 1.2vw);
}

.development-subtitle {
  font-size: calc(14px + .3vw);
}

.development-items {
  margin-top: 20vh;
  height: 60%;
  width: 90%;
}

.development-item {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.development-item-img-wrap {
  height: 50%;
}

.development-computer-icon {
  height: 80%;
  width: 60%;
}

.development-phone-icon {
  height: 100%;
  width: 60%;
}

.development-laptop-icon {
  height: 130%;
  width: 75%;
}

.development-item-text-wrap {
  height: 40%;
}

.development-item-title {
  height: 30%;
  font-family: 'Lato',sans-serif;
  font-size: calc(14px + 0.8vw);
  font-weight: 300;
}

.development-item-desc {
  height: 40%;
  font-family: 'Lato',sans-serif;
  font-size: calc(12px + .1vw);
  font-weight: 300;
}

@media screen and (max-width: 850px) {
  .development-container {
    height: 140vh;
  }
  .development-header {
    top: 5vh;
    height: auto;
  }
  .development-items {
    height: 80%;
    margin-top: 10vh;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .development-item-text-wrap {
    height: 50%;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .development-container {
    height: 130vh;
  }
  .development-header {
    margin-top: 10vh;
  }
  .development-items {
    width: 90%;
    margin-top: 30vh;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    height: 80%;
  }
  .development-item-img-wrap {
    height: 40%;
  }
  .development-computer-icon {
    height: 70%;
    width: 60%;
  }
  .development-phone-icon {
    height: 70%;
    width: 60%;
  }
  .development-laptop-icon {
    height: 110%;
    width: 80%;
  }
  .development-item-desc {
    width: 130%;
    margin-left: -15%;
  }
  .development-item-text-wrap {
    height: 35%;
  }
}

/* = = = = = =  = = = = DESIGN = = = = = = = = = = */
/* = = = = = =  = = = = CONSULTANCY = = = = = = = = = = */
.design-container {
  height: 80vh;
  width: 100%;
  background-color: #4EB2CF;
  margin-top: 10vh;
}

.design-header {
  top: 10vh;
  height: 15%;
}

.design-title {
  color: white;
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: calc(20px + 1.2vw);
}

.design-subtitle {
  color: white;
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: calc(14px + .3vw);
}

.design-items {
  margin-top: 10vh;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50%;
}

.design-item {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.design-item-icon {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 40px;
}

.design-icon {
  font-size: 30px;
  color: #4EB2CF;
}

.design-item-text {
  margin-top: 5vh;
  height: auto;
  font-family: 'Lato',sans-serif;
  color: white;
  font-size: calc(12px + 0.5vw);
  font-weight: 300;
}

@media screen and (max-width: 850px) {
  .design-container {
    height: 110vh;
  }
  .design-header {
    top: 5vh;
  }
  .design-items {
    height: 70%;
  }
  .design-item-text {
    margin-top: 2vh;
  }
  .design-item-icon {
    height: 70px;
    width: 70px;
  }
  .design-icon {
    font-size: 25px;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .design-header {
    top: 10vh;
  }
  .design-items {
    margin-top: 20vh;
  }
  .design-item-icon {
    height: 70px;
    width: 70px;
  }
  .design-icon {
    font-size: 25x;
  }
}

.consultancy-container {
  height: 80vh;
  width: 100%;
}

.consultancy-header {
  top: 10vh;
  height: 15%;
}

.consultancy-title {
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: calc(20px + 1.2vw);
}

.consultancy-subtitle {
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: calc(14px + .3vw);
}

.consultancy-items {
  margin-top: 10vh;
  width: 80%;
  height: 50%;
}

.consultancy-img-wrap {
  height: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.consultancy-img {
  height: 200px;
  width: 180px;
}

.consultancy-text-wrap {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.consultancy-text-wrap div {
  font-size: calc(12px + 0.5vw);
  font-family: 'Lato',sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 850px) {
  .consultancy-container {
    height: 100vh;
  }
  .consultancy-header {
    top: 5vh;
  }
  .consultancy-items {
    width: 95%;
    margin-top: 20vh;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 65%;
  }
  .consultancy-img-wrap {
    height: 25%;
  }
  .consultancy-text-wrap {
    height: 100%;
    margin-top: 5vh;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .consultancy-container {
    height: 130vh;
  }
  .consultancy-header {
    top: 10vh;
  }
  .consultancy-items {
    margin-top: 40vh;
  }
}

.contact-container {
  font-weight: 300;
  height: 90vh;
  width: 100%;
  margin-top: 10vh;
}

.contact-header {
  top: 20vh;
  height: 15%;
}

.contact-title {
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: calc(20px + 1.2vw);
}

.contact-subtitle {
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: calc(14px + .3vw);
}

.contact-items {
  width: 100%;
  height: 20%;
  font-weight: 300;
}

.contact-item {
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.contact-img {
  font-size: calc(30px + 2vw);
  color: #4EB2CF;
}

.contact-text-wrap {
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  color: black;
  font-size: calc(14px + 0.5vw);
}

@media screen and (max-width: 850px) {
  .contact-container {
    height: 80vh;
  }
  .contact-header {
    top: 10vh;
  }
  .contact-items {
    margin-top: 5vh;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 70%;
  }
  .contact-item {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .contact-text-wrap {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .contact-container {
    height: 90vh;
    margin-top: 20vh;
  }
  .contact-header {
    top: 30vh;
  }
  .contact-items {
    height: auto;
    margin-top: 20vh;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .contact-text-wrap {
    font-size: calc(14px + 0.2vw);
  }
}

.team-header-container {
  margin-top: 10vh;
  height: 85vh;
  width: 80vw;
}

.team-header-img-div {
  height: 350px;
  width: 400px;
}

.team-header-img {
  height: 100%;
  width: 100%;
}

.team-header-text-div {
  height: auto;
  width: 55%;
}

.team-header-top-text {
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: calc(20px + 1.2vw);
}

.team-header-bottom-text {
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: calc(14px + .5vw);
  margin-top: 2vh;
}

html {
  padding: env(safe-area-inset);
}

body {
  overflow-x: hidden;
}
/*# sourceMappingURL=stylesheet.css.map */